@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  font-family: Arial;
  margin: 2%;
}

img {
  border-radius: 50%;
}


.img-perfil img{
  width: 60%;
}

.img-perfil{
  width: 30%;
  float: right;
}



.dados-perfil{
  width: 70%;
  float: right;
  text-align: center;
}

.clearfix{
  clear: both;
}

#typing {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  padding: 1em;
}

#typing::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }